/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: lightgrey;
}

.color-2 {
    background: purple;
}

.color-3 {
    background: orange;
}


/* Textures or Patterns*/
.pattern-1 {
    background: url("http://img10.deviantart.net/5859/i/2013/160/3/b/paper_texture_by_evusha-d68dvv6.jpg");
}

/* Imagery */
/*
.imagery-1 {
    background: url("http://cdn7.staztic.com/app/a/2553/2553956/astronaut-cool-wallpaper-2-2-s-307x512.jpg");
}
*/

.imagery-2 {
    width: 640px;
    height: 640px;
}

/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */